.main{
    /* width: 100%;
    height:25vh; */
    padding-left: auto;
    /* box-sizing: border-box; */
    display: flex;
    /* padding: 0px 60px 0px 60px; */
    
    overflow-x: scroll;
    align-items: center;
}

.out{
    display: flex;
    width:100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: black;
} 

.offer-outer{
    width: 700px;
    display: inline-flex;
    height:40vh;
    overflow: hidden;
}

.right{
    width:40%;

}
.right img{
    width:100%;
    height:100%;
    
}
.left{
    width:60%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}