/* .center{
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside{
  padding: 10px;
  width: 200px;
  height: 200px;
} */

.dividerLine{
  margin-top: 2%;
  height : 8px;
  background-color: var(--darkRed);
}
.classtop{
  display: flex;
  /* gap: 5px; */
  padding: 5px;
  width: 70%;

}
.toggle{
  padding: 8px;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.cartbox{
  font-family: var(--lora);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
.cart{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: relative;
  width: 70%;
  border: 2px solid black;
  height: 175px;
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
}
.cartImagebox{
  width: 30%;
  height: 100%;
}
.cartImage{
  width: 100%;
  height: 100%;

}
.active{
  background-color: red;
  color: white;

}
.cartInfo{
  /* border: 2px solid black; */
  padding: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.take{
  padding: 8px;
  background-color: red;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  bottom: 10px;
  right: 10px;
  height: 30px;
  width: 60px;
  
}

.cartHeading{
  text-align: center;
  margin: 1.01em 0;
  font-size: 36px;
  font-weight: bold;
}


